html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.text {
    font-size: 1.5rem;
    font-family: $secondary-font;
    font-style: italic;
    line-height: 1.4;
    color: $text-color;
}

.text--light {
    font-weight: 300;
}

.text--normal {
    font-style: normal;
}
