section.about 
	.container 
		+blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque obcaecati voluptate enim ex natus, officiis facilis aperiam labore consectetur possimus nulla, cumque explicabo sit ducimus vero officia tenetur omnis veniam.") 
		.about-list 
			+aboutItem("../images/img-about1.png", "Super Team", "fa fa-users")
			+aboutItem("../images/img-about2.png", "Heart Team", "fa fa-heart")
			+aboutItem("../images/img-about3.png", "Key Team", "fa fa-key")