section.footer 
	.container 
		.footer-top 
			.footer-column
				a(href="index.html").footer-heading.footer-heading--logo MoGo 
				p.footer-desc.text.text--normal Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aspernatur porro exercitationem nulla quas ratione quod voluptas, consequatur dolore fuga blanditiis labore nesciunt reprehenderit aut explicabo totam vero accusamus velit!
				p.footer-follower <b>15k</b> followers
				.footer-social 
					span.text Follow Us:
					.footer-social-list 
						a.footer-social-icon(href="#")
							i.fab.fa-facebook
						a.footer-social-icon(href="#")
							i.fab.fa-twitter
						a.footer-social-icon(href="#")
							i.fab.fa-instagram
						a.footer-social-icon(href="#")
							i.fab.fa-pinterest
						a.footer-social-icon(href="#")
							i.fab.fa-youtube
						a.footer-social-icon(href="#")
							i.fab.fa-dribbble
						a.footer-social-icon(href="#")
							i.fab.fa-tumblr
						a.footer-social-icon(href="#")
							i.fab.fa-google-plus
				form.footer-form(action="javascript:void(0)")
					input(type="email" placeholder="Your Email...").footer-form-input 
					button.footer-form-button Subscribe
			.footer-column
				h3.footer-heading Blogs
				a(href="#").footer-blog
					img.footer-blog-image(src="./images/img-blogs1.png")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
						span.footer-blog-date.text Jan 9, 2016
				a(href="#").footer-blog
					img.footer-blog-image(src="./images/img-blogs2.png")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
						span.footer-blog-date.text Jan 9, 2016
				a(href="#").footer-blog
					img.footer-blog-image(src="./images/img-blogs3.png")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
						span.footer-blog-date.text Jan 9, 2016
			.footer-column
				h3.footer-heading Instagram
				.footer-images 
					.footer-image 
						img(src="./images/img-instagram1.png")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1511289081-d06dda19034d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=638&q=80")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1536813474362-a2ab4518f5fe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1515043954746-8052f63735f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1607352186018-98a4f38bcfef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1541909620697-c5dede710ebd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1604832683042-0de1f91fce54?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1579006318412-c56820faa3ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80")
					.footer-image 
						img(src="https://images.unsplash.com/photo-1611844795844-b670c420d728?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
				a(href="#").footer-images-more.text.text-light View more photo
		.footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>