section.service 
	.container 
		+blockBox("We work with", "Amazing Services")
		.service-list 
			+serviceItem("../images/img-service-icon1.png", "Photography", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum excepturi.")
			+serviceItem("../images/img-service-icon2.png", "Web design", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum excepturi.")
			+serviceItem("../images/img-service-icon3.png", "creativity", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum excepturi.")
		.service-list
			+serviceItem("../images/img-service-icon4.png", "seo", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum excepturi.")
			+serviceItem("../images/img-service-icon5.png", "css/html", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum excepturi.")
			+serviceItem("../images/img-service-icon6.png", "digital", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum excepturi.")