section.story 
	.container 
		+blockBox("Our stories", "Latest blog")
		ul.story-list 
			+storyItem()
			+storyItem("./images/img-blog2.png", "14", "Jan", "992", "42")
			+storyItem("./images/img-blog3.png", "12", "Jan", "1560", "98")

section.map 
	.container 
		.map-content 
			img.map-icon(src="./images/img-map-icon.png")
			h2.map-heading Open map
