section.team
	.container
		+blockBox("Who are we", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam culpa dicta quo accusantium nulla voluptatum perspiciatis laudantium eveniet rerum exercitationem quaerat, labore explicabo! Maxime ipsa, doloribus autem animi est excepturi.")
		.team-list 
			+teamItem("./images/img-team1.png", "Matthew dix", "Graphic Design")
				+teamSocial("#fb1", "#tw1", "#ptr1", "#ig1")
			+teamItem("./images/img-team2.png", "Christopher Campbell ", "Branding/UX Design")
				+teamSocial("#fb2", "#tw2", "#ptr2", "#ig2")
			+teamItem("./images/img-team3.png", "Micheal Fertig", "Developer")
				+teamSocial("#fb3", "#tw3", "#ptr3", "#ig3")
section.brand 
	.container 
		.brand 
			img(src="./images/img-logos.png" alt="logo") 