section.work 
	.container 
		+blockBox("What we do", "Some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident qui quos quis eius nam nisi itaque delectus eum, nostrum animi aperiam natus magni nobis aliquid quae suscipit eaque exercitationem accusantium.") 
		.work-list 
			.work-column 
				+workItem
				+workItem("./images/img-work3.png", "fa fa-cog", "Frontend Developer")
			.work-column 
				+workItem("./images/img-work2.png", "fa fa-car", "Frontend Developer")
				+workItem("./images/img-work4.png", "fa fa-robot", "Frontend Developer")
			.work-column 
				+workItem("./images/img-work5.png", "fa fa-heart", "Designer", "work-item--full")
			.work-column 
				+workItem("./images/img-work6.png", "fa fa-sun", "Frontend Developer")
				+workItem("./images/img-work7.png", "fa fa-mobile", "Frontend Developer")